*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


span{
    font-size: 1.2rem;
    font-weight: bold;
}

#image{
    width: 100%;
    height: auto;
}

#image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}